<div class="container">
    <div class="commentTitle space_between">
        <h4 class="inline">{{blog.title}}</h4>
        <p class="inline">Posted by {{blog.user.name}} at {{format_date blog.date}}</p>

    </div>
    {{#each comments as |comment|}}
    <div class="commentBorder">
        <div class="commentTitle textRight">
            <p class="inline">Posted by {{comment.user.name}} at {{format_date comment.date}}</p>
        </div>
        <p class="commentStyle">{{comment.content}}</p>
    </div>
    {{/each}}
    {{#if logged_in}}
    <a href="/addcomment">
        <button type="submit" class="btn signinBtn commentBtn">Add Comment</button>
    </a>
    {{/if}}
    {{#if_eq current_user.id blog.user.id}}
    <form class="form deleteBlog-form">
        <button type="submit" id="deleteBlogBtn" class="btn signinBtn commentBtn" value="{{blog.id}}">Delete
            Blog</button>
    </form>
    {{/if_eq}}
</div>
{{#if_eq current_user.id blog.user.id}}
<script src="../js/deleteBlog.js"></script>
{{/if_eq}}